html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.1rem;
  place-items: center;
  margin-top: 5rem;
  place-items: center;
  width: 100vw;
}

.card {
  border: 1px solid #768392;
  box-shadow: 11px 8px 17px 0px #e2e5e9;
}
.card:hover {
  transform: translateY(-1rem);
  background-color: #caddf6;
  transition: all ease-in-out 0.5s;
}

@media screen and (max-width: 500px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1158px) {
  .mainContainer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .card {
    border: 1px solid #768392;
    box-shadow: 11px 8px 17px 0px #e2e5e9;
  }
}

@media screen and (max-width: 476px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.myDivInside {
  background-color: red;
}
