.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

table td {
  border-bottom: 1px solid blue;
}
table tr:hover {
  background-color: rgba(235, 235, 235, 0.874);
}
table th {
  padding: 2rem;
  margin: 1rem;
}
table tr,
td {
  padding: 2rem;
  margin: 1rem;
}
